html {
  margin-top:  40px;
  margin-left: 10px;
  margin-right: 10px;
}

body {
    background-image: url('../images/worldcup-3.jpg');

    background-size: cover;
    background-repeat: no-repeat;

    background-color: #8D99AE;
    color: #fff;

    margin-top: 20px;
    border-top: 50px;
    padding: 20px;
}

section {
  padding: auto;
  margin: auto;
  width: 960px;
  margin-top: 50px;
  align-content: center;
  margin: 20px auto 60px auto;
}

#question ,
#answer ,
#instruction,
#instruction-2,
#timeleft
#gameover {
  padding: 10px;
}

.jumbotron {
    background: none
}

.btn {
  border: 10px;
}

/* todo: change button color on hover/focus */
.btn-success {
    color: #fff;
    background-color: #8D99AE;
    border-color: #8D99AE;
}


#reset {
  visibility: visible;
}
